*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    max-width: 1800px;
    background-color: #f0f4f5;
    margin: auto;/*auto*/
    overflow: hidden;
}

nav{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 5%;
}
nav ul{
    display: flex;
    margin-right: -120px;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 130px;
    font-weight: 600;
    font-size: 20px;
}
nav ul li:hover{
    color: #41d399;
}
/*hero section*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
main section{
    width: 50%;
}
.leftsection{
    margin-left: 5%;
    margin-right: 0%;
    margin-top: -10%;
    position: relative;
}
.topangle{
    width: 30px;
    
}
.leftsection h1{
    margin-right: 10%;
    font-size: 80px;
}
.leftsection p{
    color: #808080;
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-right: 150px;
    font-size: 20px;
}
.bottomangle{
    width: 30px;
    position:absolute;
    right: 150px;
    bottom: 40px;
}
.stethoscope{
    position: absolute;
    width: 90%;
    top: -55px;
    right: -140px;
    z-index: -1;
}
.mouse{
    position: absolute;
    right: 70px;
    bottom: -20px;
    width: 50px;
}
.leftsection button{
    color: white;
    background-color: #41d399;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    font-size: 25px;
}
.greenbox, .yellowbox{
    position: absolute;
    right: 0;
}
.greenbox{
    width: 35%;
    bottom: 0px;
    margin-right: 20px;
}
.yellowbox{
    width: 30%;
    bottom: 50px;
    margin-right: -5px;
}
.doctor{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
    margin-right: 20px;
}