/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    position: relative;
    background-color: #000000;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    display: inline-flex;
    width: 1614px;
    height: 80px;
}
.navbar img{
    margin-left: 390px;
    margin-top: 25px;
    height: 30px;
    width:auto;
}

.grow-list{
    font-family: poppins;
    margin-left: 50px;
    margin-top: 30px;
}
.list{
    display: flex;
}
.list-item{
    margin:10px;
    display:inline;
    color:aliceblue;
}

.button-small{
    font-family: poppins;
   margin-top: 25px;
   margin-left: 250px;
   height: 40px;
   width: 100px;
    background-color: rgb(191,6,193);
    color: azure;
    border-radius: 6px;
    border-color: transparent;
}
.hero{
    
    background-image: url(./assets/bg.png);
    background-attachment:local;
    background-size:contain;
    background-position:center;
    align-items: center;
    height: 685.9px;
    width: 1614.7px;
    margin-top:0px;

}
.hero-heading{
   position:absolute;
   margin-top: 126px;
   margin-left: 473px;
   margin-right: 456px;
   font-family: Montserrat;
   font-weight: 700;
   font-size: 59.7px;
   text-align: center;
   color: #ffffff;
}

.hero-description{
    position: absolute;
    justify-content: center;
    margin-top: 272px;
    margin-left: 567px;
    font-family: poppins;
    font-weight: 400;
    font-size: 22.8px;
    color: #ffffff;

}

.button-large{
    margin-top: 343px;
    margin-left: 685px;
    font-family: poppins;
    font-weight: 500;
    font-size: 20px;
    height: 54.6px;
   width: 265px;
    background-color: rgb(191,6,193);
    color: azure;
    border-radius: 6px;
    border-color: transparent;

}
