*{
    margin: 0px;
    padding: 0px;
}

.navbar-container{
    display: flex;
}
.navbar-container img{
    position: absolute;
    margin-top: 80px;
    margin-left: 150px;
    
}

.list{
    position: absolute;
    display: flex;
    margin-top: 90px;
    margin-left: 568px;
    font-family: Orbitron;
    font-weight: 600;
    font-size:25px;
    color: rgb(60, 59, 59);
}
.list-item:hover{
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 27px;
    margin-right: 74px;
    color: black;
    border-bottom: 3px solid black;
    
}
.list-item{
    margin-right: 80px;
    display: flex;
}
.button-group{
    position: absolute;
    display: flex;
    margin-top: 90px;
    margin-left: 1480px;
    
}
.search-icon{
    position: absolute;
}
.nav-button{
    position: absolute;
    margin-left: 50px;
    margin-top: -5px;
    height: 50px;
    width: 210px;
    background: transparent;
    border-radius: 15px;
    font-family: poppins;
    font-weight: 500;
    font-size: 25px;
    color: rgb(144, 140, 136);
}
.hero-container{
    display: flex;
}
.globe+div img{
    position: absolute;
    height: 610px;
    margin-left: 140px;
    margin-top: 240px;
}
.square{
    position: absolute;
    margin-top: 500px;
    margin-left: 300px;
}
.star{
    position: absolute;
    margin-top: 810px;
    margin-left: 770px;
}
.star+.star{
    margin-top: 270px;
    margin-left: 1620px;
}

.globe{
    position: absolute;
    margin-top: 180px;
    margin-left:900px;
}
.hero-container-right{
    margin-left: 730px;
    margin-top: 350px;
    text-align: center;
    margin-right: 130px;
   

}
.hero-heading{
    font-family: Orbitron;
    font-weight: 700;
    font-size: 70px;

}
.hero-description{
   font-family: poppins;
   font-weight: 500;
   font-size: 20px;
   text-align: center;
   margin-left: 70px;
   margin-right: 70px;
   margin-top: 30px;
   color: rgb(115, 118, 119);
}
.button-email{
    margin-left: -25px;
    margin-top: 90px;
   font-family: Orbitron;
   font-weight: 600;
   font-size: 25px;
   height: 40px;
   width: 300px;
   border-radius: 10px;
   background-color:transparent;
}
.button-join{
    margin-left: 10px;
    margin-top: 90px;
    font-family: Orbitron;
    font-weight: 400;
    font-size: 25px;
    height: 40px;
    width: 170px;
    border-radius: 10px;
    background-color: black;
    color: azure;
}
.contact-heading{
    margin-top: 150px;
    font-family: poppins;
    font-size: 20px;
    font-weight: 500;
    color: rgb(98, 97, 97);
}
.icons{
   margin-top: 10px;
}
.icons img{
    padding-left: 30px;
}