@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(42, 38, 28);
}
.navbar-container img{
    position: absolute;
    width: auto;
    margin-top: 50px;
    margin-left: 250px;
}
.grow-list{
    position: absolute;
    display: flex;
    margin-left:800px;
    margin-top: 70px;
}
.list{
    display: flex;
}
.list-item{
     display: flex;
     margin-left: 60px;
     padding: 0px;
     font-family: Montserrat;
     font-size: 15px;
     font-weight: 500;
     color: #8f8f8f;
}
.nav-button{
    position: absolute;
    margin-left: 1470px;
    margin-top: 50px;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border-color: yellow;
    border-width: 1px;
    font-family: Montserrat;
    color: yellow;
}
.heading-text{
    position: absolute;
    margin-left: 250px;
    margin-right: 1000px;
    margin-top: 150px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 70px;
    color: #ffffff;
    line-height: 90px;
    word-spacing: 20px;
}
.description{
    position: fixed;
    margin-top: 150px;
    margin-left: 1100px;
    margin-right: 300px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #abaaaa;
    line-height: 30px;
    word-spacing: 5px;
}
.banner-container img{
    position: absolute;
    width: 1400px;
    margin-top: 345px;
    margin-left: 250px;
    
}